.container {
  width: 85%;
  background: #000;
  display: flex;
  padding: 100px 20px 100px 20px;
  display: flex;
  gap: 100px;
  flex-wrap: wrap;
  justify-content: space-around;
  margin: 0 auto;
  // .connect_form{

  // }
  .connect {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px 0px 57px;
    gap: 32px;

    h1 {
      font-family: "Poppins", sans-serif;
      font-style: normal;
      font-weight: 700;
      font-size: 48px;
      line-height: 72px;
      text-transform: uppercase;
      color:  rgba(255, 0, 0, 0.732);
      b {
        color: #fff;
      }
    }
    hr {
      width: 100px;
      height: 0;
      border: 1px solid white;
      border-radius: 20px;
    }
    p {
      font-family: "Poppins", sans-serif;
      font-style: normal;
      font-weight: 300;
      font-size: 21px;
      line-height: 166.5%;
      letter-spacing: 0.1em;
      color: #ffffff;
    }
    ul {
      display: flex;
      align-items: start;
      flex-direction: column;
      gap: 40px;

      li { 
        display: flex;
        gap: 30px;
        justify-content: center;
        align-items: center;
      }

      li:nth-child(1) {
       

        img {
          width: 50px;
          height: 50px;
        }

        h2 {
          font-family: "Poppins", sans-serif;
          font-style: normal;
          font-weight: 700;
          font-size: 21px;
          line-height: 166.5%;
          letter-spacing: 0.04em;
          color: #ffffff;
          display: flex;
          flex-direction: column;
          b {
            font-weight: 400;
            font-size: 16px;
            line-height: 166.5%;
            letter-spacing: 0.04em;
            color:  rgba(255, 0, 0, 0.732);
          }
        }
      }
      li:nth-child(2) {
        margin-left: 5px;
        img {
          width: 37px;
          height: 37px;
        }

        h2 {
          font-family: "Poppins", sans-serif;
          font-style: normal;
          font-weight: 700;
          font-size: 21px;
          line-height: 166.5%;
          letter-spacing: 0.04em;
          color: #ffffff;
          display: flex;
          flex-direction: column;
          b {
            font-weight: 400;
            font-size: 16px;
            line-height: 166.5%;
            letter-spacing: 0.04em;
            color:  rgba(255, 0, 0, 0.732);
          }
        }
      }
      li:nth-child(3) {
        display: flex;
        gap: 30px;

        img {
          width: 35px;
          height: 32px;
        }

        h2 {
          font-family: "Poppins", sans-serif;
          font-style: normal;
          font-weight: 700;
          font-size: 21px;
          line-height: 166.5%;
          letter-spacing: 0.04em;
          color: #ffffff;
          display: flex;
          flex-direction: column;
          b {
            font-weight: 400;
            font-size: 16px;
            line-height: 166.5%;
            letter-spacing: 0.04em;
            color:  rgba(255, 0, 0, 0.732);
          }
        }
      }
    }
  }
}

@media screen and (max-width: 768px) {
  .container {
    .connect {
      h1 {
        font-size: 44px;
      }
      hr {
        width: 100px;
      }
      p {
        font-size: 16px;
      }
      ul {
        gap: 30px;
        li:nth-child(1) {
          display: flex;
          align-items: center;
          gap: 30px;

          h2 {
            font-size: 18px;
            b {
              font-size: 14px;
            }
          }
        }
        li:nth-child(2) {
          display: flex;
          align-items: center;
          gap: 30px;

          h2 {
            font-size: 18px;
            b {
              font-size: 14px;
            }
          }
        }
      }
    }
  }
}

@media screen and (max-width: 480px) {
  .container {
    padding: 0 20px 100px 20px;
    .connect {
      h1 {
        line-height: 40px;
        font-size: 30px;
      }
      hr {
        width: 80px;
      }
      p {
        font-size: 14px;
      }
      ul {
        gap: 20px;
        li:nth-child(1) {
          display: flex;
          align-items: center;
          gap: 30px;
          img {
            width: 40px;
            height: 40px;
          }

          h2 {
            font-size: 16px;
            b {
              font-size: 13px;
            }
          }
        }
        li:nth-child(2) {
          display: flex;
          align-items: center;
          gap: 30px;
          img {
            width: 30px;
            height: 30px;
          }

          h2 {
            font-size: 17px;
            b {
              font-size: 13px;
            }
          }
        }
      }
    }
  }
}
