.StatisticsSlider {
  width: 100%;
  height: 125% !important;
}

.StatisticsSlider .swiper-wrapper {
  display: flex;
  justify-content: space-between;
}

.StatisticsSlider .swiper-slide {
  text-align: center;
  font-size: 18px;
  background: none;
}

.StatisticsSlider .swiper-slide img {
  display: block;
  min-width: none;
  min-height: none;
  border-radius: none;
}

.StatisticsSlider .swiper-pagination {
  display: flex;
  justify-content: center;
  gap: 10px;
}

.StatisticsSlider .swiper-pagination-bullet {
  background: #ffffff;
  opacity: 1;
  border-radius: 0;
  width: 10px !important;
  height: 10px !important;
}

.StatisticsSlider .swiper-pagination-bullet-active {
  width: 10px !important;
  height: 10px !important;

  background: #6d95fc;
}
